.company {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: 3rem;
  background: #ffffff22;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

img.company {
  filter: saturate(0) invert(1) brightness(1.5);
  background: #00000022;
  max-width: 10rem;
  object-fit: contain;
}

@media only screen and (max-width: 640px) {
  .company {
    font-size: 0.75rem;
  }
  
}