.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  min-height: 30rem;
  max-height: calc(100vh - 10rem);
  height: 50rem;
  border-radius: 2rem;
  overflow: hidden;
  user-select: none;

  .backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    object-position: top;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;

    .title {
      font-size: 2.5rem;
    }

    .desc {
      opacity: 0.5;
      width: 50%;
      font-size: 1rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    height: fit-content;

    button {
      border-radius: 3rem;
      width: 3rem;
      height: 3rem;
      padding: unset;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 640px) {
  .banner {
    flex-direction: column-reverse;
    padding: 2rem;

    .details {
      .desc {
        width: 100%;
      }
    }
  }
}
